**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
.git/
.gitignore
.github/
node_modules/
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
**/TestResults/
**/*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore
